* {
    white-space: 0px;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    
}

body {
    position: relative;
    align-items: center;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

div.folie {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("forest.jpg");
}

div.up-container {
    position: relative;
    background-color: rgba(0,0,0,0.7);
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 10vh;
    
}

div.title {
    position: absolute;
    left: 45vw;
    top: 2vw;
    font-size: 3vh;
}

div.javaicon {
    position: relative;
    background-color: blue;
    background: rgba(0,0,0,0.0);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 4vw;
    height: 4vw;
    left: 2vw;
    top: 1vh;
}

div.AboutMeBox {
    font-size: 1vw;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 9vw;
    height: 3vw;
    text-align: center;
    left: 40vw;
    top: 7vw;
    overflow: hidden;
    border-radius: 25px;
    border: 2px solid black;
    transition: 1s;
}

div.AboutMeBox:hover {
    width: 9.6vw;
    height: 3.6vw;
    font-size: 1.2vw;
    background-color: black;
    color: rgb(14, 213, 240);
}

div.MiniProjects {
    font-size: 1vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 9vw;
    height: 3vw;
    text-align: center;
    left: 52vw;
    top: 7vw;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid black;
    transition: 1s;

}

div.MiniProjects:hover {
    width: 9.6vw;
    height: 3.6vw;
    font-size: 1.2vw;
    background-color: black;
    color: rgb(14, 213, 240);
}

p.formiddle {
    position: relative;
    top: -0.3vh;
}

div.aboutmephoto {
    position: absolute;
    width: 20vw;
    height: 60vh;
    background-color: red;
    left: 5vw;
    top: 8vh;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.9)),url("profile.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-x: 0px;
    border: 3px solid black;
    box-shadow: 10px 10px 10px black;
    visibility: hidden;
    
}

div.aboutmetextcontainer {
    position: absolute;
    width: 60vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.3);
    left: 32.5vw;
    top: 30vh;
    border-radius: 25px;
    overflow: hidden;
    border: 3px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 10px black;
    visibility: hidden;
}

div.aboutmetextbox {
    position: relative;
    
    left: 2vw;
    top: 2.5vh;
    width: 56vw;
    height: 55vh;
    font-size: 1vw;

}

span.aboutmetext {
  position: relative;
  
  text-align: left;
  justify-content: center;
}

div.x {
    position: absolute;
    background-color: black;
    width: 11vw;
    height: 11vw;
    left: 3vw;
    top: 3vw;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px black;
    
    visibility: hidden;
}

div.o {
    position: absolute;
    background-color: black;
    width: 11vw;
    height: 11vw;
    left: 3vw;
    top: 18vw;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px black;
    visibility: hidden;
}

div.y {
    position: absolute;
    background-color: black;
    width: 11vw;
    height: 11vw;
    left: 3vw;
    top: 33vw;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px black;
    visibility: hidden;
}

div.textcontainer {
    position: absolute;
    left: 28vw;
    top: 15vw;
    width: 50vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    box-shadow: 10px 10px 10px black;
    visibility: hidden;
    
}

div.project01 {
    position: absolute;
    left: 2.5vw;
    top: 2vw;
    width: 45vw;
    height: 41vh;
    background-color: rgb(33, 11, 114,0);
    overflow: hidden;
    text-align: left;
    justify-content: center;
    visibility: hidden;
}

div.project02 {
    position: absolute;
    left: 2.5vw;
    top: 2vw;
    width: 45vw;
    height: 41vh;
    background-color: rgb(33, 11, 114,0);
    overflow: hidden;
    text-align: left;
    justify-content: center;
    visibility: hidden;
}

div.project03 {
    position: absolute;
    left: 2.5vw;
    top: 2vw;
    width: 45vw;
    height: 41vh;
    background-color: rgb(33, 11, 114,0);
    overflow: hidden;
    text-align: left;
    justify-content: center;
    visibility: hidden;
}

p {
    margin: 1vw;
}

a {
    margin: 1vw;
    
}

span#nr01 {
    position: relative;
    font-size: 10vh;
    color: white;
    left: 25%;
    top: 22%;
    transition: 0s;
}

span#nr02 {
    position: relative;
    font-size: 10vh;
    color: white;
    left: 25%;
    top: 22%;
    transition: 0s;
}

span#nr03 {
    position: relative;
    font-size: 10vh;
    color: white;
    left: 25%;
    top: 22%;
    transition: 0s;
}

span#nr01:hover {
    color: rgb(125, 249, 255);
}
span#nr02:hover {
    color: rgb(125, 249, 255);
}
span#nr03:hover {
    color: rgb(125, 249, 255);
}
